
/* Make header, menu and rest of the page use flex */
.header, .bodier, #menu, main {
  display: flex;
}

/* make the app take up the whole page */
.bodier {
  width: 100%;
}

/* fix the menu and header in place */
#menu, .header {
  position: sticky;
}

/* set header distance from top of page */
.header {
  top: 8px;
  height: 120px;
}

/* set width of main component */
main {
  width: 75%;
}

/* make the menu pwetty */
#menu {
  top: 128px;
  height: 400px;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 25%;
}

/* make menu items pwetty */
#menu a, #menu li {
  text-decoration: none;
  color: black;
  height: 20%;
  text-align: center;
}
