
/* Make header, menu and rest of the page use flex */
.header, .bodier, #menu, main, #menu li {
  display: flex;
}

/* make the app take up the whole page */
.bodier {
  width: 100%;
  background-color: #f2dfd7;
}

body, #menu {
  margin: 0;
}

/* fix the menu and header in place */
#menu, .header {
  position: sticky;
  border-bottom: #fefeee 2px solid;
}

/* give the header and main portion some left padding */
.header, main {
  padding-left: 5%;
}

/* set header distance from top of page */
.header {
  top: 0;
  height: 120px;
  justify-content: space-between;
  padding-right: 2%;
  background-color: #9448bc;
  text-align: center;
}

.home {
  background-color: #63b4d1;
}

.genre {
  background-color: #7699d4;
}

.best {
  background-color: #9448bc;
}

.worst {
  background-color: #480355;
}

.soon {
  background-color: #0b4f6c;
}

#rec {
  background-color: #f2dfd7;
  color:black;
}

/* set width of main component */
main {
  width: 80%;
}

/* make the menu pwetty */
#menu {
  top: 120px;
  height: 400px;
  list-style-type: none;
  flex-direction: column;
  border-left: #fefeee 2px solid;
  padding: 0;
  margin: 0;
  width: 20%;
}

/* make menu items pwetty */
#menu a, #menu li {
  text-decoration: none;
  height: 20%;
}

#menu a, .header {
  color: #fefeee;
}

.header, #menu li {
  align-items: center;
}

/* center menu text horizontally and vertically */
#menu li {
  justify-content: center;
}
