
/* Make header, menu and rest of the page use flex */
.header, .bodier, #menu, main, #menu li {
  display: flex;
}

/* make the app take up the whole page */
.bodier {
  width: 100%;
}

body, #menu {
  margin: 0;
}

/* fix the menu and header in place */
#menu, .header {
  position: sticky;
}

/* give the header and main portion some left padding */
.header, main {
  padding-left: 5%;
}

/* set header distance from top of page */
.header {
  top: 0;
  height: 120px;
  justify-content: space-between;
  padding-right: 2%;
  background-color: #cab6cd;
}

/* set width of main component */
main {
  width: 80%;
}

/* make the menu pwetty */
#menu {
  top: 120px;
  height: 400px;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 20%;
}

/* make menu items pwetty */
#menu a, #menu li {
  text-decoration: none;
  color: black;
  height: 20%;
  text-align: center;
}

/* center menu text horizontally and vertically */
#menu li {
  align-items: center;
  justify-content: center;
}
